html,
body,
body>div:first-child,
div#__next,
div#__next>div {
    height: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Fantasy, Helvetica, Sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
}